<h2 style="color: tomato;">There are {{books.length}} books </h2>
<table class="table table-hover table-bordered">
  <thead>
    <tr style="background-color: black; color: white;">
      <th scope="col">#</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books ">
      <th scope="row">{{ book.id }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.description }}</td>
      <td>
        <button routerLink="/edit/{{ book.id }}" class="btn btn-primary">Edit</button>
      </td>
      <td>
        <button (click)="deleteBooks(book)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
